.header-text
{
    font-size: 4.5rem;
}
.header-background
{
    background-color: #fff1ec;
}
.header-btn
{
    background-color: rgb(250, 208, 168);
}
.card-image-height
{
    height: 387px;
}
.pricing-color
{
    color: #fc7e50;
}